h1{
    font-size: 100px;
    color : rgb(255,255,255);
    font-family: 'Cute Font', cursive;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
}
p{
    color : rgb(255,255,255);
    font-family: 'Cute Font', cursive;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
}
h2{
    color : rgb(255,255,255);
    font-family: 'Cute Font', cursive;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
}
h4{
    color : rgb(255,255,255);
    font-family: 'Cute Font', cursive;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;

}
a{
    color : rgb(255,255,255);
    font-family: 'Cute Font', cursive;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
}
h3{
    color : rgb(255,255,255);
    font-family: 'Cute Font', cursive;
    font-family: 'Nanum Pen Script', cursive;
    text-align: right;

}
body{
    background-image: url("./image/back.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    
}